/*--------------------------------geral--------------------------------------*/

:root{
    --cor-principal: #119bc9;
    --cor-principal-claro: #24c6fc;
    --titulo-texto: #88ABC2;
    --titulo-texto-escuro: #003c64;
}

h1, h2, h3, p{
    margin-top: 0px; 
    color: rgb(206, 206, 206);  
}

body{
    margin: 0px;
    background-color: #303030;
    color: white;
}

ul, a{
    text-decoration: none;
    list-style: none;
}

.foco{
    color: var(--titulo-texto);
}

.foco-escuro{
    color: var(--titulo-texto-escuro);
}

.titulo{
    text-align: center;
}

section{
    margin-bottom: 50px;
}

/*--------------------------------icones--------------------------------------*/

.html{
    background-color: #E34F26; 
}

.html:hover{
    background-color: #ad3c1c;
}

.css{
    background-color: #1572B6;
}

.css:hover{
    background-color: #105a8f;
}

.js{
    background-color: #ddc61b;
}

.js:hover{
    background-color: #bba819;
}

.python{
    background-color: #427197;
}

.python:hover{
    background-color: #355b7a;
}

.csharp{
    background-color: #7A3398;
}

.csharp:hover{
    background-color: #5b2672;
}

/*--------------------------------header--------------------------------------*/

#topo{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.308);
    backdrop-filter: blur(5px);
    z-index: 2;
}

#topo strong{
    margin-left: 10px;
}

#menu{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.div-logo{
    display: flex;
    justify-content: left;
}

.img-logo{
    width: 20px;
}

.item{
    margin-right: 20px;
}

/*--------------------------------capa--------------------------------------*/

#capa{
    background-image: url(imagens/capa.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    filter: drop-shadow(1px 1px 2px #000000c9);
}

.perfil{
    float: left;
    position: relative;
    bottom: 155px;
    left: 10px;
    border-radius: 100%;
}

/*--------------------------------sobre--------------------------------------*/

#sobre{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding-top: 50px;
}

.info{
    width: 500px;
    margin-right: 20px;
}

.texto{
    text-align: justify;
}

.sobre-img{
    width: 700px;
    height: 280px;
    border-radius: 5px;
}

/*--------------------------------habilidades--------------------------------------*/

#habilidades{
    text-align: center;
}

.conjunto-icones{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.conjunto-icones div{
    margin-left: 20px;
}

.icone img{
    margin-top: 10px;
}

.icone{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

/*--------------------------------botao--------------------------------------*/

.github{
    border: 1px solid black;
    background-color: var(--cor-principal);
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.github:hover{
    background-color: var(--cor-principal-claro);
    box-shadow: 1px 1px 10px 6px var(--cor-principal-claro);
    color: black;
}

/*--------------------------------projetos--------------------------------------*/

#projetos{
    text-align: center;
}

.conjunto-de-projetos{
    margin-left: 5.6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1200px;
}

.projeto{
    width: 275px;
    height: 155px;
    background-color: var(--cor-principal);
    box-shadow: 10px 10px black;
    border-radius: 5px;
}

.linguagem{
    position: relative;
    bottom: 65px;
    right: 25px;
    float: left;
}

.descriçao-projeto{
    margin-left: 25px;
    text-align: justify;
    width: 220px;
}

/*--------------------------------contato--------------------------------------*/

#contato{
    background-color: var(--cor-principal);
    text-align: center;
    padding: 20px;
}

input{
    border: 0px;
    border-radius: 3px;
    padding: 5px 20px;
    margin-right: 10px;
}

/*--------------------------------redes--------------------------------------*/

#redes{
    text-align: center;
}

.redes-icons{
    display: flex;
    justify-content: center;   
}

.redes-icons a{
    margin: 0px 20px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.redes-icons a:hover{
    background-color: var(--cor-principal);
}